#Fichier sensible
Streamlit/.streamlit/secrets.toml

#Cache Python
__pycache__/
*.py[cod]

#Environnement
.venv
projet_3_env/
Projet_3_nn_gradcam/
resultats_detection/
data/
debug_detection/
images_folder/

pyproject.toml
poetry.lock
*csv
*.h5
*.pth
*.pt
*.pkl
*.joblib
*.sav
*.jpeg
*.jpg
*.png
*.svg
*.gif
*.tiff
*.bmp
*.ico
*.mp4
*.toml
